# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
media/
staticfiles/
.env

# If you use virtualenv
venv/
env/
ENV/
.venv/

# VSCode settings
.vscode/

# MacOS files
.DS_Store

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Pytest cache
.pytest_cache/

# mypy cache
.mypy_cache/

# Coverage reports
.coverage
htmlcov/

# Logs
*.log

# Docker-related
*.pid
*.sock

# JetBrains IDEs
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

